.forma-many-fields {

  .forma-many-field {
    background-color: #f6f6f6;
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 8px;

    table.table {
      background-color: transparent;
      margin: 0;
      border: 0;
      td, th {
        border: 0;
      }
    }
  }

  .forma-many-actions {
    .forma-many-action {
      display: inline-block;
      width: 170px;
      padding: 8px;
      border: 1px solid #eee;
      text-align: center;
      text-decoration: none;
      &:hover {
        background-color: #d1e5ff;
        border-color: #a3c8ff;
      }
    }
  }

  /* a.forma-many-add {
    display: block;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    &:hover {
      background-color: #fafafa;
    }
  }*/
}