table.forma-table {

  tbody {
    td.forma-no-data {
      padding: 32px 0;
      text-align: center;
      color: @no-data-color;
      background-color: @no-data-background-color !important;
      &:hover {
        background-color: @no-data-background-color !important;
      }
    }
  }

}
